.select-input-styles {
    padding: 12px 0;
}

.select-input-styles svg {
    display: block;
    width: 2em;
    height: 2em;
    top: calc(50% - 1em);
}
.div234 {
    width: 35%;
    height: 157px;
    margin-top: 20px;
    margin-left: 630px;
    font-weight: bold;
    border-radius: 2%;
    font-size: 16px;
    border: 1px solid rgb(73, 70, 70);
  }
  .totalboxtr{
    padding-left: 20px;
    padding-top: 10px;
  }
  .totalnumbertd{
    padding-left: 140px;
  }
  .entertextinput{
    margin-top: 28px;
    width: 92%;
    height: 120px;
    margin-left: 45px;
    border-radius: 3px;
  }
  .tableinputbox{
    padding-top:12px;
    width:90px;
    height:47px;
    border-radius: 7%;
  }
  .tablehead{
    padding-left:15px;
    font-size:15px;
  }
  .tablelinetd{
    padding-left:26px;
    padding-top:17px;
  }